<h2 class="text-2xl font-bold mb-6 text-gray-800">My Habits</h2>

<%= link_to "New Habit", new_habit_path, class: "mb-4 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" %>

<% if @habits.empty? %>
  <p class="text-gray-500 block">You haven't created any habits yet.</p>
<% end %>

<div class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">

  <% @habits.each do |habit| %>
    <div class="bg-white rounded-lg shadow-md p-5 flex flex-col justify-between hover:bg-gray-300 transition">
      <h3 class="text-xl font-semibold text-gray-800"><%= habit.name %></h3>
      <div class="text-gray-600 mb-1 text-sm leading-relaxed max-h-40 overflow-y-auto p-2 bg-gray-50 rounded">
        <%= habit.description %>
      </div>
    <div class="flex flex-col gap-4">

      <%= turbo_frame_tag "habit_#{habit.id}_badges" do %>
        <div class="flex flex-wrap gap-2">
          <%= render "badges", habit: habit %>
        </div>
      <% end %>

      <%= turbo_frame_tag "calendar_#{habit.id}" do %>
        <%= render "calendar", habit: habit, current_month: Date.today.beginning_of_month %>
      <% end %>
    </div>


      <div class="flex flex-wrap gap-2 mt-4 pt-2 border-t border-gray-200">
        <%= form_with url: habit_habit_checkins_path(habit), method: :post, data: { turbo_stream: true } do %>
          <%= hidden_field_tag :date, Date.today %>
          <%= hidden_field_tag :month, Date.today.beginning_of_month %>
          <%= submit_tag "Done", class: "bg-green-500 text-white px-3 py-1 rounded text-sm hover:bg-green-600" %>
        <% end %>

        <%= link_to "Edit", edit_habit_path(habit),
            class: "bg-yellow-400 text-black px-3 py-1 rounded text-sm hover:bg-yellow-500" %>

        <%= button_to "Delete", habit_path(habit), method: :delete, data: { confirm: "Are you sure?" },
            class: "bg-red-500 text-white px-3 py-1 rounded text-sm hover:bg-red-600" %>
      </div>
    </div>
  <% end %>
</div>
